$white:#fff;
$black:#000;
$red:#f00;
$grey:#808080;
$aqua:#1affff;
$another_blue_shade:#abc1ed;
$bluish:#6699ff;
$lightblue:#99bbff;
$content_body_color:#e6eeff;
$base_text_color:#1a8cff;
$whiteblue:#e6f2ff;




