*{
	margin:0;
	padding:0;
	
}
body{
	
	color:#fff;

}

.content{
	
	float: none;
	height:auto;
	margin:0 auto!important;
	padding:0 !important;
	
}

.header{
	
	height:50px;
	text-align:center;
	background-color:#6699ff;
	float:left;
	margin:0!important;
	padding:0!important;

}

.content_body{
	
	height:auto;
	background-color:#e6eeff;
	
}
.header h1{
	
	margin:0;
	
}


.menu_left{
	
	height:auto;
	min-height:360px;
	float:left;
	background-color:#abc1ed;
	padding-bottom:20px;
	
}

.noListNotes{
	
	padding-top:50px;
	
}

.notes_right{
	
	height:auto;
	float:left;
	background-color:#6699ff;
	min-height:360px;
	
}

.buttons{
	
	width:50%;
	height:60px;
	float:left;
	background-color:#99bbff;
	box-shadow:none;
	border: 2px solid #e6f2ff;
	text-transform:uppercase;
	padding:3px;
	
}

.tabs{
	
	height:35px;
	display:block;
	float:left;
	background-color:#e6f2ff;
	color:#1a8cff;
	box-shadow:none;
	position: relative;
	padding-top:5px;	
	text-align:center;
	font-size:1.4em;
	text-transform:uppercase;
	border-radius:15px 15px 0px 0px;
	text-decoration:none;
	border-top:1px solid #e6f2ff;
	border-left:1px solid #6699ff;
	
}
.tabs:hover{
	
	text-decoration:none;
	cursor:pointer;

}
.buttons:hover{
	
	border: 2px solid #fff;
	
}

.selectTab{
	
	background-color:#6699ff;
	color:#fff;
	z-index:1;

}
.active{
	
	background-color:#e6f2ff;
	color:#1a8cff;
	
}

#listnote_tab{
	
	margin-left:-10px;
	
}

#listnote_tab:hover ,#note_tab:hover {
	
	color:inherit;
	
}

#note_tab{
	
	border-radius:0px 15px 0px 0px;
}
	
 .form_stuff{
	 
	width:90%;
	height:auto;
	margin:0 auto;
	padding-top:60px;
	
 }
#buttons_container{
	
	width:90%;
	margin:15px auto;
	
}

 .form_inputs{
	 
	width:90%;
	display:block;
	height:30px;
	margin:15px auto;
	color:#000;
	
 }
 #note_text{
	 
	display:block;
	margin:0 auto;
 }
 
 #save_text_note{
	 
	float:right;
	
 }
 
 .form_stuff textarea{
	 
	width:90%;
	height:150px;
	margin:5px;
	color:#000;
	
 }
 
 .presentation{
	 
	width:95%;
	height: auto;
	margin:30px auto;
	background-color:transparent;
	border:1px solid #808080;
	padding:10px;
	overflow:auto;

 }
 
 .presentation h1{
	 
	margin:3px;
	
 }
 
 
.first_p{
	
	border-top:1px solid grey;
	border-bottom:1px solid grey;
	padding:5px 15px;

 }
 
 .presentation p:last-child{
	 
	margin-left:40px;
	
 }
 
.form_submits{
	 
	height:45px;	
	width:45%;
	
 }
 
#add_todo{
	
	float:left;
	
}

#save_list_note{
	
	float:right;

}

#preview{
	
	white-space: pre-wrap;
	padding:5px 20px;
	background-color:#fff;
	color:#000;
	min-height:100px;
	width:90%;
	margin:0 auto;
}

.error{
	
	background-color:#FF0000;
	width:90%;
	margin:0 auto;
	height:20px;
	padding-left:5px;
	visibility:hidden;

}

.btn{
	
	background-color:#808080;
	color:#1affff;
	float:right;
	width:70px;
	margin:3px;
	display:block;
	
}

.btn:hover{
	
	background-color:#fff;

}

.date{
	
	float:left;
	width:100%;
}

.noNotes{
	
	text-align:center;
	font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size:2.4em;
	
}

.edit_head{
	
	color:#000;
	width:150px;
	display:none;
	font-size:1.7em;
	margin:2px;
	
}

.done{
	
	text-decoration: line-through;
	list-style-image:url('../img/tick.png');
	
}

.notdone{
	
	list-style-image:url('../img/x.png');
	
}

.input_lists{
	
	margin:2px;
	
}

.edit_msg{
	
	color:#000;
	display:none;
	
}

.save_edited_note ,.save_edited_listnote{
	
	display:none;
	
}

.first_p2{
	
	display:none;
	color:#000;

}

.search_notes{

	width:100%;
	height:20%;
	text-align:center;
	padding-top:50px;

}

.search_notes input{

	color:#000;
	
}	

.col-lg-6{
	
	padding:0!important;
	margin:0!important;
	
}

.clear_search{
	
	padding:2px 6px;
	background-color:#808080;
	border:none;
	box-shadow:none;
	border-radius:5px;
	color:#1affff;
	
}

.clear_search:hover{
	
	background-color:#fff;
	color:#808080;

}
