<div class="content">
	<div class="header">
		<h1>{{self.header_text}}</h1>
	</div>
	<div class="content_body">
		
		
		<div class="menu_left">
			
			<adding-notes></adding-notes>
			
		</div>	
		<div class="notes_right" id="notes_right">
				
			<div class="presentation" id="hello" ng-repeat="note in $root.notes track by $index">
				
				<h1 ng-attr-id="{{ 'note_head-' + $index }}">{{note.head}}</h1>
				<input class="edit_head" ng-attr-id="{{ 'edit_head-' + $index }}"  ng-model="note.head"/>
				<p class="first_p" ng-attr-id="{{ 'first_p-' + $index }}">{{note.message}}</p>
				<textarea  class="edit_msg" ng-attr-id="{{ 'edit_msg-' + $index }}"  ng-model="note.message"></textarea>
				<p class="date">-  {{note.dateSaved}}.</p>
				<a class="btn" id="delete_note" ng-click="self.removeNote(note)">Delete</a>
				<a class="btn edit_note"  ng-attr-id="{{ 'edit_note-' + $index }}"  ng-click="self.editNoteTest($index,1)" >Edit</a>
				<a class="btn save_edited_note" ng-attr-id="{{ 'save_edited_note-' + $index }}"  ng-click="self.saveEditedNote(note)" >Save</a>
				
			</div>

			
			<div class="presentation" ng-repeat="(LIndex,listnote) in $root.listNotes track by $index" >
			
				<h1 ng-attr-id="{{ 'listnote_head-' + $index }}">{{listnote.head}}</h1>
				<input class="edit_head" ng-attr-id="{{ 'edit_listhead-' + $index }}"  ng-model="listnote.head"/>
				<ul class="first_p"  ng-attr-id="{{ 'notes_list-' + $index }}">
					<li ng-repeat="list in listnote.message track by $index" ng-attr-id="{{ 'list_el-' + $index }}" >{{list}} </li>
				</ul>
				
				<ul class="first_p2" ng-attr-id="{{ 'notes_list_edit-' + $index }}">
					<li select multiple='true' ng-repeat="list in listnote.message track by $index" ><input ng-attr-class="{{ 'every_list_in_note-' + LIndex}}" class="test" ng-attr-id="{{ 'edit_list-' + $index }}"  ng-model="list" />{{list}}</li>
				</ul>
				
				<p class="date">-  {{listnote.dateSaved}}.</p>
				<a class="btn" ng-click="self.removeNote(listnote)">Delete</a>
				<a class="btn" ng-attr-id="{{ 'edit_listnote-' + $index }}" ng-click="self.editNoteTest($index,2)">Edit</a>
				<a class="btn save_edited_listnote"  ng-attr-id="{{ 'save_edited_listnote-' + $index }}" ng-click="self.saveEditedNote(listnote,list,LIndex)" >Save</a>
			</div>
		
		</div>	
		
	</div>	
</div>
